NODE_ENV="development"
PORT=3000
ENIGMA_URL="url"
ENIGMA_TENANT="tenant"
ENIGMA_USERNAME="user"
ENIGMA_PASSWORD="pass"
SMTP_HOST="smtp.mailtrap.io"
STMP_PORT=587
MAIL_USER="user"
MAIL_PASS="pass"
MYSQL_HOST="localhost"
MYSQL_PORT=32772
MYSQL_USERNAME="enigma"
MYSQL_PASSWORD="enigma"
MYSQL_DATABASE="enigma"
